[submodule "Extensions"]
	path = Extensions
	url = git@bitbucket.org:michaeldewildt/premiumextensions.git
[submodule "Dropbox_API"]
	path = Dropbox_API
	url = https://github.com/michaeldewildt/dropbox-php.git
