.heading--inline {
	display: inline-block;
}

.history_box {
	max-height: 140px;
	overflow-y: scroll;
	margin: 0 0 0 10px;
}

.message_box {
	font-weight: bold;
	color: green;
}

#file_tree {
	margin-left: 10px;
	padding: 5px 0 5px 10px;
	width: 400px;
	max-height: 200px;
	border: 1px solid #dfdfdf;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	overflow-y: scroll;
}

#togglers {
	width: 400px;
	margin: 10px 5px 0 10px;
	padding: 0 0 0 7px;
	text-align: right;
}

.bump {
	margin: 10px 0 0 10px !important;
}

.dropbox_location.hide {
	display: none;
}

#progress {
	max-height: 400px;
	overflow-y: scroll;
	margin: 0 0 10px 0;
}
ul {
	margin: 0;
}
.files {
	display: none;
	margin-left: 58px;
}
.files li {
	margin: 5px 0;
	padding-left: 20px;
}
.view-files {
	text-decoration: none;
}

.loading {
	padding: 5px;
	clear: both;
}

#circleG {
	margin-top: 10px;
	width: 150px;
}

.circleG {
	background-color: #FFFFFF;
	float: left;
	height: 15px;
	margin-left: 8px;
	width: 15px;
	-webkit-animation-name: bounce_circleG;
	-webkit-border-radius: 10px;
	-webkit-animation-duration: 1.9500000000000002s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: linear;
	-moz-animation-name: bounce_circleG;
	-moz-border-radius: 10px;
	-moz-animation-duration: 1.9500000000000002s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: linear;
	opacity: 0.3;
	-o-animation-name: bounce_circleG;
	border-radius: 10px;
	-o-animation-duration: 1.9500000000000002s;
	-o-animation-iteration-count: infinite;
	-o-animation-direction: linear;
	-ms-animation-name: bounce_circleG;
	-ms-animation-duration: 1.9500000000000002s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-direction: linear;
	opacity: 0.3
}

#circleG_1 {
	-webkit-animation-delay: 0.39s;
	-moz-animation-delay: 0.39s;
	-o-animation-delay: 0.39s;
	-ms-animation-delay: 0.39s;
}

#circleG_2 {
	-webkit-animation-delay: 0.91s;
	-moz-animation-delay: 0.91s;
	-o-animation-delay: 0.91s;
	-ms-animation-delay: 0.91s;
}

#circleG_3 {
	-webkit-animation-delay: 1.17s;
	-moz-animation-delay: 1.17s;
	-o-animation-delay: 1.17s;
	-ms-animation-delay: 1.17s;
}

@-webkit-keyframes bounce_circleG {
	0% {
		opacity: 0.3
	}

	50% {
		opacity: 1;
		background-color: #000000
	}

	100% {
		opacity: 0.3
	}

}

@-moz-keyframes bounce_circleG {
	0% {
		opacity: 0.3
	}

	50% {
		opacity: 1;
		background-color: #000000
	}

	100% {
		opacity: 0.3
	}

}

@-o-keyframes bounce_circleG {
	0% {
		opacity: 0.3
	}

	50% {
		opacity: 1;
		background-color: #000000
	}

	100% {
		opacity: 0.3
	}
}

@-ms-keyframes bounce_circleG {
	0% {
		opacity: 0.3
	}

	50% {
		opacity: 1;
		background-color: #000000
	}

	100% {
		opacity: 0.3
	}
}

.premium th {
	text-align: left;
	border-top: 1px solid #DEDEDE;
}

.premium td, .premium th {
	border-right: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
	padding: 10px;
}

.premium table {
	border-left: 1px solid #DEDEDE;
}

.paypal, .instructions {
	float: left;
	margin-right: 20px;
}

.errors {
	clear: both;
}

.extensions-table {
	margin-top: 20px;
}

.paragraph-block {
	max-width: 750px;
}

.product-box--single, .product-box--multi, .product-box--bundle {
	display: inline-block;
	padding: 20px;
	text-align: center;
	border: 1px solid #cfcfcf;
	border-radius: 5px;
	margin-left: 10px;
}

.product-box--single {
	margin: 10px 0 10px 10px;
	float: left;
}

.product-box--bundle {
	display: block;
	clear: both;
	margin: 0;
}

.product-box--bundle--1 {
	width: 201px;
}

.product-box--bundle--2 {
	width: 402px;
}

.product-box--bundle--3 {
	width: 603px;
}
.product-box--bundle .product-box__price,
.product-box--bundle .product-box__button {
	display: inline-block;
}

.product-box--no-margin {
	margin-left: 0px !important;
}

.product-box__title {
	background: #777;
	color: #FFF;
	font-size: 16px;
	padding: 10px 20px;
	border-radius: 5px;
}

.product-box__subtitle {
	padding: 10px 0;
	max-width: 175px;
}

.product-box--bundle .product-box__subtitle,
.product-box--bundle .product-box__alert {
	max-width: 100%;
}

.product-box__price {
	font-size: 22px;
	padding: 5px;
	margin-bottom: 10px;
}

.product-box__message {
	color: green;
	font-size: 13px;
	font-weight: bold;
}

.product-box__alert {
	margin-top: 10px;
	font-size: 11px;
	max-width: 200px;
}

.product-box__tick {
	margin-bottom: 5px;
	color: green;
	font-size: 25px;
	display: block;
}

.product-box__button {
	padding: 6px;
}

.note_paragraph {
	padding-top: 10px;
	clear: both;
}

/*! jQuery UI - v1.10.3 - 2013-08-06
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.tabs.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana%2CArial%2Csans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=cccccc&bgTextureHeader=highlight_soft&bgImgOpacityHeader=75&borderColorHeader=aaaaaa&fcHeader=222222&iconColorHeader=222222&bgColorContent=ffffff&bgTextureContent=flat&bgImgOpacityContent=75&borderColorContent=aaaaaa&fcContent=222222&iconColorContent=222222&bgColorDefault=e6e6e6&bgTextureDefault=glass&bgImgOpacityDefault=75&borderColorDefault=d3d3d3&fcDefault=555555&iconColorDefault=888888&bgColorHover=dadada&bgTextureHover=glass&bgImgOpacityHover=75&borderColorHover=999999&fcHover=212121&iconColorHover=454545&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=aaaaaa&fcActive=212121&iconColorActive=454545&bgColorHighlight=fbf9ee&bgTextureHighlight=glass&bgImgOpacityHighlight=55&borderColorHighlight=fcefa1&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=glass&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
* Copyright 2013 jQuery Foundation and other contributors Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0);
}

.ui-front {
	z-index: 100;
}

/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: .2em;
}
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .2em .2em 0;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
	cursor: text;
}
.ui-tabs .ui-tabs-nav li a, /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
	outline: none;
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	background: none;
}

/* Component containers
----------------------------------*/

.ui-widget-header {
	border-bottom: 1px solid #aaaaaa;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3;
	background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #555555;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #555555;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #999999;
	background: #dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
	color: #212121;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #aaaaaa;
	background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #212121;
	text-decoration: none;
}

/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 4px;
}

