.history_box {
	max-height: 140px;
	overflow-y: scroll;
	margin: 0 0 0 10px;
}

.message_box {
	font-weight: bold;
	color: green;
}

#file_tree {
	margin-left: 10px;
	padding: 5px 0 5px 10px;
	width: 400px;
	max-height: 200px;
	border: 1px solid #dfdfdf;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	overflow-y: scroll;
}

#togglers {
	width: 400px;
	margin: 10px 5px 0 10px;
	padding: 0 0 0 7px;
	text-align: right;
}

.bump {
	margin: 10px 0 0 10px !important;
}

.dropbox_location.hide {
	display: none;
}

.error {
	color: red;
}

.success {
	color: green;
}

#progress {
	max-height: 400px;
	overflow-y: scroll;
	margin: 0 0 10px 0;
}
ul {
	margin: 0;
}
.files {
	display: none;
	margin-left: 58px;
}
.files li {
	margin: 5px 0;
	padding-left: 20px;
}
.view-files {
	text-decoration: none;
}

.loading {
	padding: 5px;
	clear: both;
}

#circleG {
	margin-top: 10px;
	width: 150px;
}

.circleG {
	background-color: #FFFFFF;
	float: left;
	height: 15px;
	margin-left: 8px;
	width: 15px;
	-webkit-animation-name: bounce_circleG;
	-webkit-border-radius: 10px;
	-webkit-animation-duration: 1.9500000000000002s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: linear;
	-moz-animation-name: bounce_circleG;
	-moz-border-radius: 10px;
	-moz-animation-duration: 1.9500000000000002s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: linear;
	opacity: 0.3;
	-o-animation-name: bounce_circleG;
	border-radius: 10px;
	-o-animation-duration: 1.9500000000000002s;
	-o-animation-iteration-count: infinite;
	-o-animation-direction: linear;
	-ms-animation-name: bounce_circleG;
	-ms-animation-duration: 1.9500000000000002s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-direction: linear;
	opacity: 0.3
}

#circleG_1 {
	-webkit-animation-delay: 0.39s;
	-moz-animation-delay: 0.39s;
	-o-animation-delay: 0.39s;
	-ms-animation-delay: 0.39s;
}

#circleG_2 {
	-webkit-animation-delay: 0.91s;
	-moz-animation-delay: 0.91s;
	-o-animation-delay: 0.91s;
	-ms-animation-delay: 0.91s;
}

#circleG_3 {
	-webkit-animation-delay: 1.17s;
	-moz-animation-delay: 1.17s;
	-o-animation-delay: 1.17s;
	-ms-animation-delay: 1.17s;
}

@-webkit-keyframes bounce_circleG {
	0% {
		opacity: 0.3
	}

	50% {
		opacity: 1;
		background-color: #000000
	}

	100% {
		opacity: 0.3
	}

}

@-moz-keyframes bounce_circleG {
	0% {
		opacity: 0.3
	}

	50% {
		opacity: 1;
		background-color: #000000
	}

	100% {
		opacity: 0.3
	}

}

@-o-keyframes bounce_circleG {
	0% {
		opacity: 0.3
	}

	50% {
		opacity: 1;
		background-color: #000000
	}

	100% {
		opacity: 0.3
	}
}

@-ms-keyframes bounce_circleG {
	0% {
		opacity: 0.3
	}

	50% {
		opacity: 1;
		background-color: #000000
	}

	100% {
		opacity: 0.3
	}
}

.premium th {
	text-align: left;
	border-top: 1px solid #DEDEDE;
}

.premium td, .premium th {
	border-right: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
	padding: 10px;
}

.premium table {
	border-left: 1px solid #DEDEDE;
}

.paypal, .instructions {
	float: left;
	margin-right: 20px;
}

.errors {
	clear: both;
}
